@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.header {
  padding: 5px;
  text-align: center;
  background: #0F2854;
  background: linear-gradient(90deg, rgba(15, 40, 84, 1) 0%, rgba(27, 61, 105, 1) 50%, rgba(15, 40, 84, 1) 100%);
  color: #BDE8F5;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  
}
li, a, button {
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 6px;
    right: 3px;
    color: #BDE8F5;
    text-shadow: 0 0 0 0;
    transition: all 0.4s ease 0s;
    font-size: 20px;
}

a:hover {
    color: #ccebf4;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #9aedcc, 0 0 30px #b1f89d, 0 0 40px #c4ffb4, 0 0 55px #b7ffa4, 0 0 75px #bbffa8;
}



body {
  margin: 0;
  padding: 0;
}

.bg-img {
  padding: 70px;
  background-image: url('libruru.jpg');
  color: #cccccc;
  
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  
  
}

.bg-img-2 {
  padding: 100px;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.04);
  transition: all 0.4s ease 0s;
  max-width: 850px;
  margin-left: 12%;
  box-shadow: 0 0 0 0;
}

.bg-img-2:hover {
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(255, 255, 255, 0.04);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    background-color: #fff;
    width: 220px;
    height: 390px;
    padding: 20px;
    border-radius: 10px;
    background: whitesmoke;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
      transition: all 0.4s ease 0s;

}

.card img {
    display: block;
    margin-bottom: 10px;
    max-width: 182px;
    max-height: 277px;
}

.card h3 {
    margin: 5px 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.card p {
    margin: 5px 0 15px;
    color: #777;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.card button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: rgba(0, 140, 255, 0.496);
    box-shadow: 0 0 25px rgb(0,140,255);
    color: whitesmoke;
}

.card:hover {
 box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;  
  width: 250px; 
  height: 400px;
}

footer {
  font-family: Arial, sans-serif;
}


#login-btn {
  padding: 5px 10px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  max-height: 35px;
  margin-top: 15px;
}

#login-btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

#login-btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}

 
.btn-shine {
  position: relative;
  margin: 0;
  padding: 17px 35px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-shine {
  color: #164ca7;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.btn-shine:hover {
  animation: rotate624 0.7s ease-in-out both;
}

.btn-shine:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-pengembalian {
  position: relative;
  margin: 0;
  padding: 17px 30px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #ff431d;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  max-width: 170px;
}

.btn-pengembalian {
  color: #ff431d;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.btn-pengembalian:hover {
  animation: rotate624 0.7s ease-in-out both;
}

.btn-pengembalian:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-pengembalian {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-pengembalian span {
  z-index: 20;
}

.btn-pengembalian:after {
  background: #ffc43b;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-pengembalian:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.peminjaman-pengembalian {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}